/* ---- background ---- */

[data-theme="dark"] .bg-light {
  background-color: rgb(36, 38, 48) !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: rgb(218, 218, 218) !important;
}

/* ---- table / input ---- */

[data-theme="dark"] thead.table-primary th{
  background-color: rgb(57, 50, 65) !important;
}

[data-theme="dark"] .table-bordered{
  border: rgb(57, 45, 77) !important;
}

[data-theme="dark"] .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:rgb(59, 54, 66) !important;
  color: white;
}

[data-theme="dark"] div > input {
  background-color: rgb(49, 52, 65) !important;
  border: rgb(50, 52, 75) !important;
}

[data-theme="dark"] div > input::placeholder {
  color: rgba(224, 224, 224, 0.356) !important;
}

[data-theme="dark"] div > input:focus, div > input {
  color: white !important;
}

/* ---- other ---- */

[data-theme="dark"] .text-dark {
  color: white !important;
}

[data-theme="dark"] .border-primary {
  border: 0.5px solid rgb(53, 51, 56) !important;
}

[data-theme="dark"] div.signUp button.button{
  background: linear-gradient(135deg,#001e31,#1d1b36 40%,#1a2430 60%,#001e31) !important;
  border: 0.5px solid rgb(52, 49, 58) !important;
  box-shadow: 0.5px 0.5px 3px 0.5px rgba(65, 65, 80, 0.671) !important;
}



